---
import Layout from '../layouts/Layout.astro';
import App from '../components/App.svelte';
---

<Layout title="AI Carbs Counter">
	<div class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_2px),linear-gradient(to_bottom,#8080800a_1px,transparent_2px)] bg-[size:24px_24px]">
		<div class="absolute left-0 right-0 top-20 -z-10 m-auto h-[310px] w-[310px] rounded-full bg-white opacity-90 blur-[100px]">
		</div>
	</div>
	<main class="grid place-content-center w-full gap-2">
		<h1 class="sm:text-4xl opacity-70 font-bold text-center sm:pb-4 sm:mt-8 text-2xl mt-4">
			<a href="/">¿Qué comemos?</a>
		</h1>
		<section class="container max-w-xl h-64 flex flex-col items-center">
			<App client:idle />
		</section>
	</main>
</Layout>

<style>

</style>
