---
import Layout from '../layouts/Layout.astro';
import App from '../components/App.svelte';
---

<Layout title="AI Carbs Counter">
	<div class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]">
		<div class="absolute left-0 right-0 top-0 -z-10 m-auto h-[310px] w-[310px] rounded-full bg-fuchsia-400 opacity-20 blur-[100px]">
		</div>
	</div>
	<main class="grid place-content-center">
		<h1 class="text-4xl opacity-70 font-bold text-center pb-10 mt-8">¿Qué comemos?</h1>
		<section class="container max-w-xl h-64 gap-6 flex flex-col items-center">
			<App client:idle />
		</section>
	</main>
</Layout>

<style>

</style>
